body {
    background-color: #454545;
    margin: 0;
  }

header {
    background-color: #561823;
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 1px 1px 2px #202020;
    position: relative;
    justify-content: center;
    align-items: center;
  }

article {
    width: 80%;
    margin: auto;
  }

footer {
    width: 100%;
    background-color: #303030;
    box-shadow: 0 -1px 2px #202020;
  }

nav {
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #303030;
    width: 100%;
    margin: 0;
    box-shadow: 0 1px 2px #202020;
  }
  
.naviLinks {
    margin-right: auto;
    padding-left: 10%;
    width: 90%;
  }
  
.languagePicker {
    margin-left: auto;
    padding-right: 10%;
    width: 10%;
  }

.profilePic {
    width: 25%;
    position: absolute;
    left: 27.5%;
  }

.frontPageHeader {
    width: 40%;
    margin-right: auto;
    background-color: #561823;
  }

.description {
    width: 60%;
    margin-left: auto;
    background-color: darkslategrey;
  }
  
.description div {
    padding: 15% 15% 15% 25%;
  }

.skillTable {
  width: 90%;
  padding: 2% 5% 10% 5%;
}

.skillTitle {
  width: 50%;
}

.skillElement {
  width: 10%;
}
  
.textAreaLeft {
    background-color: #303030;
    width: 40%;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    box-shadow: 1px 1px 5px #202020;
  }
  
.textAreaRight {
    background-color: #303030;
    width: 40%;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    box-shadow: 1px 1px 5px #202020;
  }
  
.header1Area {
    background-color: #561823;
    padding: 5% 0 2% 0;
    box-shadow: 1px 1px 5px #202020;
  }
  
.header2Area {
    background-color: #303030;
    box-shadow: 1px 1px 5px #202020;
  }
  
.header3Area {
    background-color: darkslategrey;
  }
  
.textArea {
    background-color: #303030;
    padding: 3% 0 3% 0%;
    box-shadow: 1px 1px 5px #202020;
  }
  
@media (min-width: 1300px) {
    header, article {
      width: 60%;
    }
  
    .languagePicker {
      padding-right: 20%;
    }
  
    .naviLinks {
      padding-left: 20%;
    }
  }
  
@media (max-width: 600px) or (orientation: portrait) {
    header, article, .frontPageHeader, .description, .textAreaLeft, .textAreaRight, .textArea, .profilePic {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      position: static;
    }
  
    .frontPageHeader h1 {
      padding-top: 5%;
      padding-bottom: 5%;
    }
  
    .skills {
      margin-top: 30%;
      margin-bottom: 30%;
    }
    
    .textAreaLeft, .textAreaRight {
      margin-top: 20%;
      margin-bottom: 20%;
    }
  
    .description div {
      padding: 10% 15% 10% 15%;
    }
  
    .naviLinks {
      padding: 0;
      width: 80%;
    }
  
    .languagePicker {
      padding: 0;
      width: 20%;
    }
  }