:root {
  --textBackground: rgba(48, 48, 48, 0.85);
  --naviBackground: #303030;
  --emphasis1Dark:#561823;
  --emphasis2Dark: darkslategrey;
  --shadowColor: #202020;
}

html, body {
  height: 100%;
}

body {
  background-color: #474747;
  background-image: url("bgrPic.avif");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

header {
  background-color: var(--emphasis1Dark);
  width: 80%;
  margin: 70px auto 0 auto;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 1px 1px 2px var(--shadowColor);
  position: relative;
  justify-content: center;
  align-items: center;
}

article {
  width: 80%;
  margin: 2% auto 5% auto;
}

footer {
  width: 100%;
  height: 70px;
  position: absolute;
  background-color: var(--naviBackground);
  box-shadow: 0 -1px 2px var(--shadowColor);
}

/* Navigation */
nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--naviBackground);
  width: 100%;
  height: 70px;
  margin: 0;
  box-shadow: 0 1px 2px var(--shadowColor);
}

.naviLinks {
  margin-right: auto;
  padding: 2% 0 2% 10%;
  width: 85%;
}

.languagePicker {
  margin-left: auto;
  padding-right: 10%;
  width: 15%;
  text-align: right;
}

/* Front page header area */
.profilePic {
  width: 25%;
  position: absolute;
  left: 27.5%;
}

.frontPageHeader {
  width: 40%;
  margin-right: auto;
  background-color: var(--emphasis1Dark);
}

.description {
  width: 60%;
  margin-left: auto;
  background-color: var(--emphasis2Dark);
}

.description div {
  padding: 15% 15% 15% 25%;
}

/* Paragraph areas */
.textAreaLeft {
  background-color: var(--textBackground);
  width: 40%;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  box-shadow: 1px 1px 5px var(--shadowColor);
}

.textAreaRight {
  background-color: var(--textBackground);
  width: 40%;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  box-shadow: 1px 1px 5px var(--shadowColor);
}

.textArea {
  background-color: var(--textBackground);
  padding: 3% 0 3% 0%;
  box-shadow: 1px 1px 5px var(--shadowColor);
  margin: 0;
}

.project {
  background-color: var(--textBackground);
  margin: 0 0 5% 0;
  box-shadow: 1px 1px 5px var(--shadowColor);
}

/* Header boxes */
.header1Area {
  padding: 5% 0 2% 0;
  box-shadow: 1px 1px 5px var(--shadowColor);
}

.header2Area {
  background-color: var(--naviBackground);
  box-shadow: 1px 1px 5px var(--shadowColor);
  margin: 0;
}

.header3Area {
  background-color: var(--emphasis2Dark);
}

/* Large screen */
@media (min-width: 1300px) {
  header,
  article {
    width: 60%;
  }

  .languagePicker {
    padding-right: 20%;
  }

  .naviLinks {
    padding-left: 20%;
  }

  .profilePic {
    width: 20%;
    position: absolute;
    left: 30%;
  }
}

/* Small-ish size screen */
@media (max-width: 800px) {
  .profilePic {
    visibility: hidden;
  }

  .naviLinks {
    position: absolute;
    text-align: center;
    top: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--textBackground);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 300ms;
  }

  .languagePicker {
    width: 50%;
  }

  .textAreaLeft,
  .textAreaRight {
    width: 100%;
    margin: 25% 0;
  }
}
