:root {
  --textBackground: rgba(48, 48, 48, 0.85);
  --naviBackground: #303030;
  --emphasis1Dark: #561823;
  --emphasis2Dark: darkslategrey;
  --shadowColor: #202020;
}

html,
body {
  height: 100%;
}

body {
  background-color: #474747;
  background-image: url("bgrPic.avif");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

header {
  background-color: var(--emphasis1Dark);
  margin-top: 70px;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 1px 1px 2px var(--shadowColor);
  position: relative;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 70px;
  position: absolute;
  background-color: var(--naviBackground);
  box-shadow: 0 -1px 2px var(--shadowColor);
}

/* Navigation */
nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--naviBackground);
  width: 100%;
  height: 70px;
  margin: 0;
  box-shadow: 0 1px 2px var(--shadowColor);
}

.languagePicker {
  margin-left: auto;
  padding-right: 10%;
  text-align: right;
}

/* Front page header area */
.profilePic {
  width: 25%;
  position: absolute;
  left: 27.5%;
}

.frontPageHeader {
  background-color: var(--emphasis1Dark);
}

.description {
  background-color: var(--emphasis2Dark);
}

.description div {
  padding: 15% 15% 15% 25%;
}

/* Paragraph areas */
.textAreaLeft,
.textAreaRight {
  background-color: var(--textBackground);
  box-shadow: 1px 1px 5px var(--shadowColor);
}

.textArea {
  background-color: var(--textBackground);
  padding: 3% 0 3% 0%;
  box-shadow: 1px 1px 5px var(--shadowColor);
  margin: 0;
}

.project {
  background-color: var(--textBackground);
  margin: 0 0 5% 0;
  box-shadow: 1px 1px 5px var(--shadowColor);
}

/* Header boxes */
.header1Area {
  padding: 5% 0 2% 0;
  box-shadow: 1px 1px 5px var(--shadowColor);
}

.header2Area {
  background-color: var(--naviBackground);
  box-shadow: 1px 1px 5px var(--shadowColor);
  margin: 0;
}

.header3Area {
  background-color: var(--emphasis2Dark);
}
