@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Guerrilla&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --textColor: gainsboro;
  --textDark: darkgrey;
  --shadowColor: #202020;
  --emphasis1: crimson;
  --emphasis1Dark: #561823;
  --emphasis2: lightseagreen;
  --emphasis2Dark: darkslategrey;
  --tlBorder: 2px solid var(--textDark);
}

/* Mobile navigation elements */
.navToggle {
  display: none;
}

/* Skill level elements */
.blankSquare {
  height: 10px;
  width: 10px;
  border: 2px solid var(--emphasis2Dark);
  margin-left: auto;
}

.filledSquare {
  height: 10px;
  width: 10px;
  border: 2px solid var(--emphasis2Dark);
  background-color: var(--emphasis2);
  margin-left: auto;
}

/* Resumé elements */
.timeline {
  margin: 1% auto 1% auto;
}

.tlRight {
  text-align: left;
}

.tlLeft {
  text-align: right;
}

.timeline p {
  padding: 0 1%;
  line-height: 1.25;
}

.timeline h3 {
  padding: 0 1%;
  line-height: 1;
}

.line {
  width: 50%;
  height: 50px;
  margin: 0 auto 0 0;
  border-right: var(--tlBorder);
  box-sizing: border-box;
}

table {
  width: 100%;
}

.timeCellLeft {
  font-size: 32px;
  text-align: right;
  color: var(--emphasis2);
}

.timeCellRight {
  font-size: 32px;
  text-align: left;
  color: var(--emphasis2);
}

/* Project tags */
.tags {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

.skillTag {
  color: var(--textColor);
  font-family: Helvetica, Arial, sans-serif;
  width: fit-content;
  margin: 5px;
  border-radius: 20px;
  background-color: var(--emphasis1Dark);
}

.groupTag {
  color: var(--textColor);
  font-family: Helvetica, Arial, sans-serif;
  width: fit-content;
  margin: 5px;
  border-radius: 20px;
  background-color: var(--emphasis2Dark);
}

.teamTag {
  color: var(--textColor);
  font-family: Helvetica, Arial, sans-serif;
  width: fit-content;
  margin: 5px;
  border-radius: 20px;
  background-color: dimgrey;
}
