@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Guerrilla&family=Space+Grotesk:wght@300..700&display=swap');

h1 {
  font-size: 36;
  font-family: "Protest Guerrilla", Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 10%;
  color: gainsboro;
}

h2 {
  font-size: 34;
  font-family: 'Space Grotesk', Tahoma, sans-serif;
  text-decoration: firebrick underline;
  font-weight: bold;
  padding: 10px;
  color: dimgrey;
  text-shadow: 1px 1px 1px #303030;
}

h3 {
  font-size: 28;
  font-family: 'Oswald', Tahoma, sans-serif;
  font-weight: bold;
  padding: 9px;
  color: gainsboro;
}

p {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 5px;
  line-height: 1.5;
  color: gainsboro;
}

a:link {
  text-decoration: none;
  font-weight: bold;
  color: lightseagreen;
}

a:hover {
  text-decoration: none;
  color: lightseagreen;
  text-shadow: 2px 2px 2px lightseagreen;
}

a:visited {
  text-decoration: none;
  color: dimgrey;
}

b {
  color: firebrick;
  text-shadow: 1px 1px 1px #561823;
}

i {
  color: dimgrey;
  text-shadow: 1px 1px 1px darkslategrey;
}

ul {
  list-style-type: none;
  font-family: Helvetica, Arial, sans-serif;
  padding-inline-start: 7%;
  padding-top: 1%;
  padding-bottom: 5%;
  line-height: 30px;
  color: gainsboro;
}

body {
  background-color: #454545;
  margin: 0px;
}

header {
  background-color: #561823;
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

article {
  width: 80%;
  margin: auto;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: #303030;
  width: 80%;
  margin: auto;
}

nav a {
  font-size: 32;
  font-family: 'Space Grotesk', Tahoma, sans-serif;
  color: lightseagreen;
  padding: 2%;
}

nav a:visited {
  color: lightseagreen;
}

.naviLinks {
  margin-right: auto;
  width: 90%;
}

.languagePicker {
  margin-left: auto;
  width: 10%;
}

.frontPageHeader {
  position: relative;
  width: 40%;
  margin-right: auto;
  background-color: #561823;
}

Header h1 {
  position: relative;
  top: 70%;
}

.description {
  width: 60%;
  margin-left: auto;
  background-color: dimgrey;
}

.description div {
  padding: 15% 15% 15% 25%;
}

.textAreaLeft {
  background-color: #303030;
  width: 40%;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 10%;
}

.textAreaRight {
  background-color: #303030;
  width: 40%;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 10%;
}

.header1Area {
  background-color: #561823;
  padding: 5% 0 2% 0;
}

.header2Area {
  background-color: #303030;
}

.header3Area {
  background-color: darkslategrey;
}

.textArea {
  background-color: #303030;
}

@media (min-width: 1200px) {
  header, nav, article {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) or (orientation: portrait) {
  nav, header, article, .frontPageHeader, .description, .textAreaLeft, .textAreaRight, .textArea {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  
  .textAreaLeft, .textAreaRight {
    margin-top: 40%;
    margin-bottom: 30%;
  }

  .description div {
    padding: 15%;
  }
}
